.background-top {
  background-color: var(--purple);
  width: 100%;
}

.landing-message {
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-copy-and-button {
  margin-left: 20px;
  max-width: 500px;
  text-align: center;
}

.landing-copy-top {
  font-size: 24px;
  font-weight: bold;
  color: white;
  line-height: 40px;
}

button.get-started {
  background-color: var(--pink);
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  width: 200px;
  margin-top: 20px;
  padding: 5px 0;
}

button.get-started:hover {
  background-color: white;
  color: var(--pink);
}

@media (min-width: 900px) {
  .landing-message {
    max-width: 800px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}