.background-top {
  background-color: var(--purple);
  width: 100%;
  padding-top: 50px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

nav button {
  border: 3px solid white;
  background: none;
  padding: 5px 8px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

nav button:hover {
  background-color: white;
  color: var(--purple);
}

.landing-message {
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 160px;
  width: 800px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-copy-and-button {
  margin-left: 20px;
  width: 500px;
  text-align: center;
}

.landing-copy-top {
  font-size: 24px;
  font-weight: bold;
  color: white;
  line-height: 40px;
}

button.get-started {
  background-color: var(--pink);
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  width: 200px;
  margin-top: 20px;
  padding: 5px 0;
}

button.get-started:hover {
  background-color: white;
  color: var(--pink);
}