.background-middle {
  background-color: #EEEEEE;
  width: 100%;
  padding: 50px 0 10px 0;
}

.landing-copy {
  max-width: 700px;
  margin: 0 auto 50px auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 500px) {
  .landing-copy {
    font-size: 24px;
  }

  .background-middle {
    padding: 90px 0;
  }
}

