.portfolio-title {
  font-size: 36px;
  font-weight: bold;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*justify-content: flex-start;*/
}

.pie-chart {
  margin-top: 20px;
}

.portfolio, .watchlist {
  margin-top: 20px;
  margin-bottom: 50px;
}

.watchlist {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 80px;
}

@media (min-width: 700px) {
  .watchlist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .portfolio {
    justify-content: space-between;
    flex-direction: row;
  }

  .pie-chart {
    margin-top: -15px;
  }
}

@media (min-width: 1080px) {
  .watchlist {
    grid-template-columns: repeat(3, 1fr);
  }
}