.portfolio-entry {
  border: 3px solid var(--dark-gray);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 900px;
  display: inline-block;
}

.portfolio-entry-top-line {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.portfolio-entry-bottom-line {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.portfolio-list {
  width: 100%;
}

@media (min-width: 1000px) {
  .portfolio-entry {
    max-width: 430px;
  }
}

