.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.user-nav .site-logo {
  font-size: 48px;
  font-weight: bold;
  color: var(--dark-gray);
  cursor: pointer;
}

.user-nav a {
  text-decoration: none;
}

.user-nav .site-logo:hover {
  color: var(--pink);
}

.user-nav button {
  border: 3px solid var(--dark-gray);
  background: none;
  padding: 5px 8px;
  border-radius: 8px;
  color: var(--dark-gray);
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.user-nav button:hover {
  background-color: var(--dark-gray);
  color: white;
}