body {
  font-family: "Avenir Next", sans-serif;
  --purple: #A084D1;
  --pink: #F934AA;
  --dark-gray: #4A4A4A;
  color: var(--dark-gray);
}

button {
  cursor: pointer;
}

.fade-in-out {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}